@main-color:  #FF8485;
@often-color: #CCCCCC;
@usual-color: #F5F5F5;
@border-CCCC: solid 1px #CCCCCC;
@border-main: solid 1px #FEBFC0;

//=====================================
.boder-solid-CCCC {
	border: solid 1px #CCCCCC;
}
.boder-solid-main {
	border: solid 1px #FEBFC0;
}

.common-fore {
	text-align: center;
	height: 40px;
	line-height: 40px;
	background-color:  #F5F5F5;
	vertical-align: middle;
	border-bottom: @border-CCCC;

	span.title {
		color: @main-color;
		font-size: 14px;
		font-weight: bolder;
	}
}

img {
	width: 100%;
	cursor: pointer;
}
//=====================================
.carousel-indicators {
	bottom: -12px;

	li {
		width: 5px;
		height: 5px;
	}

	.active {
		width: 6px;
		height: 6px;
	}
}

span.type-class {
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

//主页<!--
div.fore {
	background-color: @main-color;
	min-height: 50px;
	img.ico{
		margin-top: 10px;
	}

	input.search {
		margin-top: 8px;
	}
}

div.ad-pic {
	width: 100%;
	padding: 0;
	img{
		width: 100%;

		&.fore-img {
			height: 120px;
		}
	}
}

div.main-class {
	padding-top: 10px;
	span {
		display: inline-block;
		width: 100%;
		text-align: center;
		color: @main-color;
		font-family: 'Arial Negreta', 'Arial';
		///////////////////字体随屏幕变化
		font-size: 11px;
	}
}

div.ads {
	margin: 10px;
	img {
		.boder-solid-main;
		//两个图片高度不同---------修改使高度自动
		height: 65px;
	}
}

div.title {
	border: @border-CCCC;
	height: 30px;
	border-top: @border-CCCC;
	border-bottom: @border-CCCC;
	line-height: 30px;
	font-size: 13px;
	border-left: solid 10px #FF8182;
	padding: 0;
	// //=============no effect===============	


	// &:first-child {
	// 	border-left: solid 10px #FF8182;
	// }
	// &:nth-child(2) {
	// 	border-left: solid 10px #FF8182;
	// }
	// &:nth-child(3) {
	// 	border-left: solid 10px #FF8182;
	// }
	.more{
		background-color: red;
	}
}

div.clothes {

	div.large {
		position: relative;
		border-right: @border-CCCC;

		span {
			position: absolute;
			top: 5px;
			right: 10px;
			color: @main-color;
			font-size: 14px;
		}
		img {
			margin-top: 18px;
			height: 198px;
		}
	}

	div.two-middle {
		position: relative;
		img {
			margin-top: 18px;
			height: 198px;
		}

		span {
			position: absolute;
			top: 5px;
			left: 10px;
			color: @main-color;
			font-size: 14px;
		}
	}
}

div.shoes {
	text-align: center;
	div.large {
		border-right: @border-CCCC;
		margin-bottom: 5px;
	}
	// width: 100%;
	span {
		// width: 100%;
		color: @main-color;
		font-size: 8px;
	}

	div.shoe-item {
		margin-top: 20px;
	}

	div.text {
		padding: 0px;
		display: block;
		color: @main-color;
		font-size: 10px;
		span {
			display: block;
			margin-top: 10%;
			width: 100%;
			font-size: 9px;
		}
	}

	// div.row-left {
	// 	margin-top: 30px;

	// 	img {
	// 		margin-left: -10%;
	// 	}
	// }
}

div.bottom {
	margin-bottom: 100px;

	div.first {
		border-right: @border-CCCC;
	}

	img {
		margin-top: 10px;	
	}

	span {
		color: @main-color;
		font-size: 12px;
	}
}
//主页 -->

//zhaoyuxue 热卖宝贝
div.hotbaby-container {
	padding-bottom: 80px;
	div.hotbaby-fore {
		//row 同一级上不能加width: 100%;
		// width: 100%;
		text-align: center;
		height: 40px;
		line-height: 40px;
		background-color:  #F5F5F5;
		vertical-align: middle;
		border-bottom: @border-CCCC;

		span.title {
			color: @main-color;
			font-size: 14px;
			font-weight: bolder;
		}
	}

	div.item-container {
		text-align: center;
		vertical-align: middle;
		margin-top: 20px;
		
		span {
			font-size: 13px;
			
			&.item-name {
				font-weight: bold;
				height: 30px;
				line-height: 30px;
			}
		}

		div.item-desc {
			font-size: 13px;
			height: 40px;
			line-height: 20px;
			margin-bottom: 10px;
			text-overflow:ellipsis; 
			overflow: hidden;
		}

		img {
			width: 100%;
			height: 130px;
			.boder-solid-main;
		}
	}
}

//热门品牌
div.hotbrand-container {
	padding-bottom: 80px;
	div.hotbrand-fore {
		text-align: center;
		height: 40px;
		line-height: 40px;
		background-color:  #F5F5F5;
		vertical-align: middle;
		border-bottom: @border-CCCC;

		span.title {
			color: @main-color;
			font-size: 14px;
			font-weight: bolder;
		}
	}

	div.pic-container {
		margin: 0px;
		padding: 0px;
		img {
			width: 100%;
		}
	}

	div.title-middle {
		height: 30px;
		line-height: 30px;
		background-color: @main-color;

		span {
			font-size: 14px;
		}
	}

	div.item {
		// height: 195px;
		.pre-item {
			.boder-solid-main;
			pre {
				height: 175px;
				overflow: hidden;
				margin-bottom: 10px;
				margin-top: 10px;
			}
		}

		.img-item {
			padding: 0px;
			border-top: @border-main;
			border-bottom: @border-main;
			img {
				// margin-bottom: 10px;
				// margin-top: 10px;
				// height: 175px;
			}
		}

		// &:nth-child(odd){
		// 	.img-item{
		// 		float: left;
		// 	}
		// 	.pre-item {
		// 		float: right;
		// 	}
		// }
		// &:nth-child(even){
		// 	.img-item {
		// 		float: right;
		// 	}
		// 	.pre-item {
		// 		float: left;
		// 	}
		// }
	}
}

//详情
div.detail-main {
	background-color: #F5F5F5;
	width: 100%;

	div.item-theme {
		font-size: 13px;
		font-weight: bold;
		height: 30px;
		line-height: 30px;
	}

	div.item {
		div.item-desc {
			font-size: 13px;
			height: 60px;
			line-height: 20px;
			overflow-y: hidden;
		}
	}

	div.price {
		position: relative;
		top:-40px;
		background-color: @main-color;
		height: 40px;
		line-height: 40px;
		text-align: center;
		padding-left: 3px;
		padding-right: 3px;

		span {
			font-size: 16px;
			font-weight: bold;

			&.new {
				color: white;
			}

			&.old {
				text-decoration: line-through;
			}
		}
	}
}

//热门品牌 ---> 品牌商品
div.brand-list-container {
	padding-bottom: 80px;
	div.brand-item-list {
		background-color: #F5F5F5;

		div.item {
			margin-top: 20px;
			border:@border-CCCC;
			background-color: white;

			img.pic {
				height: 180px;
			}

			div.desc {
				margin-right: 10px;
				margin-left: 10px;
				font-size: 13px;
				margin-top:5px;
				height:50px;
				line-height: 25px;
				overflow: hidden;
			}

			span {
				color: @main-color;
				font-size: 14px;
				font-weight: bolder;
				margin-top: 5px;
				margin-left: 10px;
			}

		}
	}
}

//热门卖家
div.hotshop-container {
	padding-bottom: 80px;
	background-color: @usual-color;

	div.reward-box {
		text-align: center;
		margin-top: 3px;
		margin-bottom: 3px;

		div.reward {
			height: 40px;
			line-height: 40px;
			border-radius: 40px;
			background-color: @main-color;

			span {
				font-size: 20px;
				font-weight: bolder;
				color: white;				
			}

		}
	}

	div.shop-info {
		background-color: white;
		text-align: center;
		vertical-align: middle;

		.boder-solid-CCCC;
		width: 98%;
		margin-left: 1%;
		border-radius: 10px; 

		div.shop-fore {
			div.shop-pic {
				margin-top:15px;
				margin-bottom: 15px;
				margin-left: 10px;
			}

			div.shop-name {
				margin-top: 35px;
				font-size: 15px;
				font-weight: bolder;
				color: @main-color;
			}

			div.enshop {
				padding:0px;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-top: 25px;
				font-size: 16px;
				.boder-solid-CCCC;
				border-radius: 5px;
			}
		}

		div.pic-show {
			div.two-little {
				margin-top: 20px;
				margin-bottom: 20px;
				padding-right: 2px;

				img {
					margin-bottom: 2px;
					height: 110px;
				}
			}

			div.one-large {
				margin-top: 20px;
				margin-bottom: 20px;
				padding-left: 2px;
				img {
					height: 222px;
					margin-bottom: 2px;
				}
				

			}
		}

		div.text-desc-main {
			margin-bottom: 10px;

			span {
				font-size: 14px;
				&.space {
					margin-top: 10px;
				}

				&.tags {
					font-weight: bolder;
				}
			}	
			
		}
	}	
}

//shop common



//搜索店铺
div.inshop-container {
	padding-bottom: 80px;

	input {
		margin-top: 5px;
		height: 30px;
		line-height: 30px;
		border-radius: 5px;
	}

	div.inshop-fore {
		img.fore-img {
			padding: 0px;
		}
	}
	div.shop-fore {
		position: relative;
		top: -50px;
		margin-bottom: -50px;
		div.shop-pic {
			margin-top:15px;
			margin-bottom: 15px;
			margin-left: 10px;
		}

		div.shop-name {
			margin-top: 35px;
			font-size: 15px;
			span {
				font-weight: bolder;
				color: @main-color;

				&.fans {
					color:black;
					font-weight: thin;
					padding-left: 8px;
				}
			}
			
		}

		img.favorite {
			margin-top: 35px;
			border-radius: 5px;
		}
	}

	div.inshop-goods {
		img.goods-img {
			padding: 0px;
		}
		
		div.price {
			position: relative;
			top: -50px;
			text-align: center;
			span {
				color: @main-color;
				
			}

			img　{
				border-radius: 7px;
			}

		}
	}

	div.pic-show {
		div.two-little {
			margin-top: 20px;
			margin-bottom: 20px;
			padding-right: 2px;

			img {
				margin-bottom: 2px;
				height: 110px;
			}
		}

		div.one-large {
			margin-top: 20px;
			margin-bottom: 20px;
			padding-left: 2px;
			img {
				height: 222px;
				margin-bottom: 2px;
			}
			

		}
	}

	div.goods-item-list {
		background-color: #F5F5F5;

		div.item {
			margin-top: 20px;
			border:@border-CCCC;
			background-color: white;

			img.pic {
				height: 180px;
			}

			div.desc {
				margin-right: 10px;
				margin-left: 10px;
				font-size: 13px;
				margin-top:5px;
				height:50px;
				line-height: 25px;
				overflow: hidden;
			}

			span {
				color: @main-color;
				font-size: 14px;
				font-weight: bolder;
				margin-top: 5px;
				margin-left: 10px;
			}

		}
	}

}

//代理服务
div.agence-container {
	padding-bottom: 80px;

	div.operation {
		margin-top: 10px;
		margin-bottom: 10px;


		span.shop-name {
			font-size: 15px;
			font-weight: bold;
			margin-left: 10px;
			margin-bottom: 10px;
			margin-top: 5px;
		}

		.join-us {
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
}

