.boder-solid-CCCC{border:solid 1px #CCCCCC;}
.boder-solid-main{border:solid 1px #FEBFC0;}
img{width:100%;}
div.fore{background-color:#ff8485;min-height:50px;}div.fore img.ico{margin-top:10px;}
div.fore input.search{margin-top:8px;}
div.ad-pic{width:100%;padding:0;}div.ad-pic img{width:100%;}
div.main-class{padding-top:10px;}div.main-class span{display:inline-block;width:100%;text-align:center;color:#ff8485;font-family:'Arial Negreta','Arial';font-size:11px;}
div.ads{margin:10px;}div.ads img{border:solid 1px #FEBFC0;height:65px;}
div.title{border:solid 1px #cccccc;height:30px;border-top:solid 1px #cccccc;border-bottom:solid 1px #cccccc;line-height:30px;font-size:13px;border-left:solid 10px #FF8182;padding:0;}div.title .more{background-color:red;}
div.clothes div.large{position:relative;border-right:solid 1px #cccccc;}div.clothes div.large span{position:absolute;top:5px;right:10px;color:#ff8485;font-size:14px;}
div.clothes div.large img{margin-top:18px;height:198px;}
div.clothes div.two-middle{position:relative;}div.clothes div.two-middle img{margin-top:35px;width:48%;}
div.clothes div.two-middle span{position:absolute;top:5px;left:10px;color:#ff8485;font-size:14px;}
div.shoes{width:100%;}div.shoes div.large{border-right:solid 1px #cccccc;}
div.shoes span{width:100%;text-align:center;color:#ff8485;font-size:8px;}
div.shoes div.text{display:block;color:#ff8485;font-size:10px;}div.shoes div.text span{display:block;margin-top:10%;width:100%;font-size:9px;}
div.shoes div.row-left{margin-top:30px;}div.shoes div.row-left img{margin-left:-10%;}
div.bottom{margin-bottom:100px;}div.bottom div.first{border-right:solid 1px #cccccc;}
div.bottom img{margin-top:10px;}
div.bottom span{color:#ff8485;font-size:12px;}
div.hotbaby-container{margin-bottom:100px;}div.hotbaby-container div.hotbaby-fore{text-align:center;height:30px;line-height:30px;background-color:#ff8485;}div.hotbaby-container div.hotbaby-fore span.back{float:left;vertical-align:middle;}
div.hotbaby-container div.hotbaby-fore span.title{color:white;font-size:14px;font-weight:bolder;}
div.hotbaby-container div.item-container{text-align:center;vertical-align:middle;margin-top:20px;}div.hotbaby-container div.item-container span{font-size:13px;}div.hotbaby-container div.item-container span.item-name{font-weight:bold;height:30px;line-height:30px;}
div.hotbaby-container div.item-container div.item-desc{font-size:13px;height:40px;line-height:20px;overflow-y:hidden;margin-bottom:10px;}
div.hotbaby-container div.item-container img{width:100%;border:solid 1px #FEBFC0;}
div.hotbrand-container{margin-bottom:100px;}div.hotbrand-container div.hotbrand-fore{text-align:center;height:30px;line-height:30px;background-color:#ff8485;}div.hotbrand-container div.hotbrand-fore span.back{float:left;vertical-align:middle;}
div.hotbrand-container div.hotbrand-fore span.title{color:white;font-size:14px;font-weight:bolder;}
div.hotbrand-container div.pic-container{margin:0px;padding:0px;}div.hotbrand-container div.pic-container img{width:100%;}
div.hotbrand-container div.title-middle{height:30px;line-height:30px;background-color:#ff8485;}div.hotbrand-container div.title-middle span{font-size:14px;}
div.hotbrand-container div.item{height:195px;}div.hotbrand-container div.item .pre-item{border:solid 1px #FEBFC0;}div.hotbrand-container div.item .pre-item pre{height:175px;overflow:hidden;margin-bottom:10px;margin-top:10px;}
div.hotbrand-container div.item .img-item{border:solid 1px #FEBFC0;}div.hotbrand-container div.item .img-item img{margin-bottom:10px;margin-top:10px;height:175px;}
div.hotbrand-container div.item:nth-child(odd) .img-item{float:left;}
div.hotbrand-container div.item:nth-child(odd) .pre-item{float:right;}
div.hotbrand-container div.item:nth-child(even) .img-item{float:right;}
div.hotbrand-container div.item:nth-child(even) .pre-item{float:left;}
