@main-color:  #FF8485;
@often-color: #CCCCCC;
@border-CCCC: solid 1px #CCCCCC;

//=====================================
.boder-solid-CCCC {
	border: solid 1px #CCCCCC;
}
.boder-solid-main {
	border: solid 1px #FEBFC0;
}

//=====================================

img {
	width: 100%;
}

div.fore {
	background-color: @main-color;
	min-height: 50px;
	img.ico{
		margin-top: 10px;
	}

	input.search {
		margin-top: 8px;
	}
}

div.ad-pic {
	width: 100%;
	padding: 0;
	img{
		width: 100%;
	}
}

div.main-class {
	padding-top: 10px;
	span {
		display: inline-block;
		width: 100%;
		text-align: center;
		color: @main-color;
		font-family: 'Arial Negreta', 'Arial';
		///////////////////字体随屏幕变化
		font-size: 11px;
	}
}

div.ads {
	margin: 10px;
	img {
		.boder-solid-main;
		//两个图片高度不同---------修改使高度自动
		height: 65px;
	}
}

div.title {
	border: @border-CCCC;
	height: 30px;
	border-top: @border-CCCC;
	border-bottom: @border-CCCC;
	line-height: 30px;
	font-size: 13px;
	border-left: solid 10px #FF8182;
	padding: 0;
	// //=============no effect===============

	// &:first-child {
	// 	border-left: solid 10px #FF8182;
	// }
	// &:nth-child(2) {
	// 	border-left: solid 10px #FF8182;
	// }
	// &:nth-child(3) {
	// 	border-left: solid 10px #FF8182;
	// }
	.more{
		background-color: red;
	}
}

div.clothes {

	div.large {
		position: relative;
		border-right: @border-CCCC;

		span {
			position: absolute;
			top: 5px;
			right: 10px;
			color: @main-color;
			font-size: 14px;
		}
		img {
			margin-top: 18px;
			height: 198px;
		}
	}

	div.two-middle {
		position: relative;
		img {
			margin-top: 35px;
			width:48%;
		}

		span {
			position: absolute;
			top: 5px;
			left: 10px;
			color: @main-color;
			font-size: 14px;
		}
	}
}

div.shoes {
	div.large {
		border-right: @border-CCCC;
	}

	span {
		width: 100%;
		text-align: center;
		color: @main-color;
		font-size: 10px;
	}

	div.text {
		display: block;
		color: @main-color;
		font-size: 20px;
		span {
			display: block;
			margin-top: 10%;
		}
	}

	div.row-left {
		margin-top: 30px;

		img {
			margin-left: -10%;
		}
	}
}

div.bottom {
	margin-bottom: 100px;

	div.first {
		border-right: @border-CCCC;
	}

	img {
		margin-top: 10px;	
	}

	span {
		color: @main-color;
		font-size: 12px;
		margin-left: 10%;
	}
}

