div.main{width:100%;margin:0px;padding:0px;margin-bottom:50px;}
div.title{font-size:14px;font-weight:bold;border-bottom:solid 1px #cccccc;width:100%;text-align:left;margin-bottom:10px;margin-top:10px;}
div.list-one img{width:100%;height:60px;}
div.list-one span{display:inline-block;font-size:10px;width:100%;text-align:center;}
