@main-color:  #FF8485;
@often-color: #CCCCCC;
@border-CCCC: solid 1px #CCCCCC;
// @height: ((300px - this.height)/2);

div.main {
	// width: 100%;
	// margin: 0px;
	// padding: 0px;
	margin-bottom: 100px;
}


div.fore {
	background-color: @main-color;
	min-height: 40px;
	line-height: 40px;
	span {
		// border: @border-CCCC;
		font-size: 14px;
		color: white;
		font-weight: bold;
		&.hovor {
			opacity: 0.6;
		}
	}
}

div.personal-nav {
	margin-top: 15px;
	margin-bottom: 15px;

	img {
		width: 120%;
		border-radius: 10px;
	}
}

div.common {
	border-top: solid 10px #CCCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	input {
		width: 90%;
		margin: 10px 5% 10px 5%;
	}

	span.shop-name {
		font-size: 14px;
		font-weight: bold;
		display: block;
		margin-top: 10px;
	}
}

div.list-class {
	span {
		display: inline-block;
		width: 100%;
		text-align: center;
		font-size: 13px;
	}
}

div.goods-item {
	margin-bottom: 10px;
	img {
		width: 120%;

	}

	span {
		font-size: 12px;
		padding: 5px;
		padding-top: 20px;

		&.price {
			margin-top: 50px;
			font-weight: bolder;
			color: @main-color;
		}

		&.desc {
			font-size: 12px;
			overflow: hidden;

			&:hover {
				color: @main-color;
			}
		}
	}
	
}