div.main{margin-bottom:100px;}
div.fore{background-color:#ff8485;min-height:40px;line-height:40px;}div.fore span{font-size:14px;color:white;font-weight:bold;}div.fore span.hovor{opacity:0.6;}
div.personal-nav{margin-top:15px;margin-bottom:15px;}div.personal-nav img{width:120%;border-radius:10px;}
div.common{border-top:solid 10px #CCCCCC;padding-top:10px;padding-bottom:10px;}
div.content{text-align:center;vertical-align:middle;}div.content input{width:90%;margin:10px 5% 10px 5%;}
div.content span.shop-name{font-size:14px;font-weight:bold;display:block;margin-top:10px;}
div.list-class span{display:inline-block;width:100%;text-align:center;font-size:13px;}
div.goods-item{margin-bottom:10px;}div.goods-item img{width:120%;}
div.goods-item span{font-size:12px;padding:5px;padding-top:20px;}div.goods-item span.price{margin-top:50px;font-weight:bolder;color:#ff8485;}
div.goods-item span.desc{font-size:12px;overflow:hidden;}div.goods-item span.desc:hover{color:#ff8485;}
