div.main{width:100%;margin:0px;padding:0px;margin-bottom:70px;}
div.fore{background-color:#ff8485;min-height:40px;line-height:40px;}div.fore span{font-size:14px;color:white;font-weight:bold;}div.fore span.hovor{opacity:0.6;}
