@main-color:  #FF8485;
@often-color: #CCCCCC;
@border-CCCC: solid 1px #CCCCCC;

div.main {
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-bottom: 70px;
}


div.fore {
	background-color: @main-color;
	min-height: 40px;
	line-height: 40px;
	span {
		// border: @border-CCCC;
		font-size: 14px;
		color: white;
		font-weight: bold;
		&.hovor {
			opacity: 0.6;
		}
	}
}