.border-solid{border:solid 1px #CCCCCC;}
div.title{border:solid 1px #CCCCCC;min-height:35px;line-height:35px;}
div.form-container{margin-top:20px;}div.form-container .list-group-item{overflow:hidden;}div.form-container .list-group-item input{border:none;}
div.bottom{margin-top:20px;}
