<div class="container login-container">
	<div class="logo">
		<hr>
	</div>
	<div class="content start-prepare">
		<div class="left start-prepare">
			<img ng-src="{{publicPath}}home/img/control/1.jpg" alt="">
		</div>
		<div class="right start-prepare">
			<div class="register-form">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">
							账户登陆
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<form class="form-horizontal" role="form" name="infoForm">
									<div class="form-group">
										<label class="col-xs-4 control-label">
											用户名：
										</label>
										<div class="col-xs-8">
											<input type="text" class="form-control" placeholder="请输入你的用户名" ng-model="userInfo.user_name" required>
										</div>
										<span></span>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">
											密&nbsp;&nbsp;码：
										</label>
										<div class="col-xs-8">
											<input type="password" class="form-control" placeholder="请输入你的密码" required ng-model="userInfo.user_pwd">
										</div>
										<span></span>
									</div>
									<div class="form-group">
										<span class="login-tips">{{errorInfo}}</span>
										<div class="col-xs-offset-2 col-xs-10">
											<button class="btn btn-primary" ng-disabled="infoForm.$invalid" do-login info="userInfo" errorinfo="errorInfo">
											登陆
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>