

.start-prepare{
	border: solid 1px;
	margin: 1px;
}

// ========== 常量储存区==========
@bg-color: #EA768D;
@active-bg-color: #E4007B;
@hover-bg-color: #E53E98;;
// @bg-color: white;

// 主Container #1
.home-container{
	width: 1170px;
	// 头部Logo及搜索Container #2
	.header-container{
		height: 85px;
		// Logo
		img.logo{
			width: 100px;
			margin-left: 105px;
		}
		// 搜索Container #3
		.search-container{
			display: inline-block;
			input{
				margin-left: 159px;
				width: 350px;
			}

			button.btn-search{

			}
		}
	}

	// 导航Container #4
	.nav-container{
		min-height: 35px;
		background-color: @bg-color;
		// ul container #7
		.ul-container{
			overflow: hidden;
			width: 700px;
			margin: auto;
			height: 35px;
			ul {
				list-style:none;
				li{
					text-align: center;
					min-width: 100px;
					float:left;
					height: 35px;
					line-height: 35px;
					a{
						color: white;
						font-weight: bolder;
					}
					&:hover{
						background-color: @hover-bg-color;
						a{
							color: white;
						}
					}
				} 
				// Active li
				.active{
					background-color: @active-bg-color;
				}
			} 
		}
		
	}

	// 图片轮换框Container #5
	.img-show-container{
		min-height: 200px;

		.item{
			height: 320px;
		}
	}

	// 主Container #6
	.main-container{
		min-height: 800px;
		overflow: auto;

		// 装左右的Container #8
		.side-container{
			overflow: auto;

			// 左侧Container #9
			.left-container{
				float: left;
				width: 900px;
				min-height: 700px;

				.nav-outer-container{
					.type-container{
						display: inline-block;
						width: 425px;
						margin-left: 15px;
						min-height: 300px;

						&.left-top,&.right-top{
							margin-top: 30px;
						}

						&.left-bottom,&.right-bottom{
							margin-top: 20px;
						}

						.title-container{
							min-height: 30px;
							color: #FFFFFF;
							.title{
								font-weight: bolder;
								font-size: large;
								line-height: 30px;
								margin-left: 15px;
							}
						}


						.type-mini-container{
							.type-text,.type-img{
								display: inline-block;
								min-height: 265px;
							}

							.type-text{
								width: 300px;
							}
							.type-img{
								width: 110px;
							}
						}

						// 头部框的背景色
						&.left-top .title-container{
							background-color: #F95F9D;
						}

						&.right-top .title-container{
							background-color: #AD71D5;
						}

						&.left-bottom .title-container{
							background-color: #97BB1D;
						}

						&.right-bottom .title-container{
							background-color: #F2629D;
						}
					}
				}
			}

			// 右侧Container #10
			.right-container{
				float: right;
				width: 230px;
				min-height: 700px;
			}
		}
		
		// 底部Container #11
		.bottom-container{
			min-height: 400px;
		}
	}
}