html{
	// overflow-x: hidden;
}

.start-prepare{
	// border: solid 1px;
	// margin: 1px;
}

// ========== 常量储存区==========
@bg-color: #EA768D;
@active-bg-color: #E4007B;
@hover-bg-color: #E53E98;;
// @bg-color: white;

// ========== 通用CSS类储存区=====
.boder-solid-CCCC{
	border: solid 1px #CCCCCC;
}

// 主Container #1
.home-container{
	width: 100%;
	min-width: 1170px;
	padding: 0px;
	overflow: hidden;
	// 头部Logo及搜索Container #2
	.header-container{
		height: 85px;
		// Logo
		img.logo{
			width: 95px;
			margin-left: 105px;
		}
		// 搜索Container #3
		.search-container{
			display: inline-block;
			input{
				margin-left: 159px;
				width: 350px;
			}

			button.btn-search{

			}
		}
	}

	// 导航Container #4
	.nav-container{
		@nav-container-height: 35px;
		min-height: @nav-container-height;
		background-color: @bg-color;
		// ul container #7
		.ul-container{
			overflow: hidden;
			width: 700px;
			margin: auto;
			height: @nav-container-height;
			ul {
				list-style:none;
				li{
					text-align: center;
					min-width: 100px;
					float:left;
					height: @nav-container-height;
					line-height: @nav-container-height;
					a{
						color: white;
						font-weight: bolder;
					}
					&:hover{
						background-color: @hover-bg-color;
						a{
							color: white;
						}
					}
				} 
				// Active li
				.active{
					background-color: @active-bg-color;
				}
			} 
		}
		
	}

	// 图片轮换框Container #5
	.img-show-container{
		@show-img-height: 275px;
		min-height: @show-img-height;

		.item{
			height: @show-img-height;
		}
	}

	// Super-ad Container #12
	.super-ad-container{
		min-height: 120px;
		padding: 10px;
		margin-top: 20px;
		overflow: hidden;
		text-align:center;
		.block-item{
			width: 322px;
			height: 117px;
			border: solid 1px #CCCCCC;
			overflow: hidden;
			display: inline-block;
			&:first-child{
				float: left;
				margin: 0 auto;
				margin-left: 80px;
			}
			&:nth-child(2){
				// margin: 0 auto;
			}
			&:nth-child(3){
				float: right;
				margin: 0 auto;
				margin-right: 80px;
			}
			
			img{
				width: 100%;
				height: 100px;
			}
		}
	}

	// 主Container #6
	.main-container{
		
		min-height: 800px;

		// 装左右的Container #8
		.side-container{
			min-width: 1170px;
			overflow: auto;

			// 左侧Container #9
			.left-container{
				margin: 0 auto;
				float: left;
				width: 910px;
				min-height: 700px;
				.nav-outer-container{
					.type-container{
						float: left;
						width: 435px;
						margin-left: 18px;
						min-height: 300px;

						&.left-top,&.right-top{
							margin-top: 20px;
						}

						&.left-bottom,&.right-bottom{
							margin-top: 20px;
						}

						.title-container{
							min-height: 30px;
							color: #FFFFFF;
							.title{
								font-weight: bolder;
								font-size: large;
								line-height: 30px;
								margin-left: 15px;
							}
						}


						.type-mini-container{
							border: solid 1px #F6F6F6;
							border-width: 0 1px 1px 1px;
							overflow: hidden;
							.type-text,.type-img{
								float: left;
								min-height: 246px;
							}

							.type-text{
								padding: 20px 20px 0 20px;
								width: 300px;
								.mini-item{
									margin-bottom: 3px;
									span{
										font-size: xx-small;
									}
									span.type-name{
										font-weight: bolder;
										display: inline-block;
										width: 60px;
									}

								}
							}
							.type-img{
								width: 115px;
							}
						}

						// 头部框的背景色
						&.left-top .title-container{
							background-color: #F95F9D;
						}

						&.right-top .title-container{
							background-color: #AD71D5;
						}

						&.left-bottom .title-container{
							background-color: #97BB1D;
						}

						&.right-bottom .title-container{
							background-color: #F2629D;
						}
					}
				}
			}

			// 右侧Container #10
			.right-container{
				float: right;
				min-width: 240px;
				margin: 0 auto;
				min-height: 700px;
				// margin-left: 20px;
			}
		}
		
		// 底部Container #11
		.nav-bottom-container{
			min-height: 400px;
		}
	}
}