body{margin:0;padding:0;}
.welcome-container{width:140px;margin:130px auto;}.welcome-container img{height:100px;width:120px;margin:0 auto;}
.welcome-container .welcome-msg{margin:10px;}
.welcome-container .touch-into{margin:25px;}
