body{
	margin: 0;
	padding: 0;
	border-width: 0;
	width: 1024px;
}

.mc-header{
	height: 45px;
	line-height: 45px;
	background-color: #F3F3F3;
}

.mc-border(@border-radius: 1px, @border-width: 1px;){
	padding-left: 10px;
	border-width: @border-width;
	border-color: #ddd;
	border-style: solid;
	border-radius: @border-radius;
}

@list-min-height: 460px;

.container{
	.wechat-menu-conf-container{
		.menu-container{
			padding-right: 0;
			.menu-header{
				.mc-header;
				.mc-border(5px 0 0 0,1px 0 0 1px);
				button{
					// margin-left: 90px;
				}
			}
			.menu-list{
				.mc-border(0 0 0 5px,0 0 1px 1px);
				min-height: @list-min-height;
				padding-left: 0;
				.first-menu{
					display: block;
					.btn{
						padding: 2px 4px;
					}
					
					.first-menu-container{
						display: block;
						padding-left: 10px;
						height: 25px;
						line-height: 25px;
						.first_tools{
							display: none;
						}
						&:hover{
							background-color: #DAE8F8;
							.first_tools{
								margin-left: 20px;
								display: inline-block;
							}
						}
					}

					.second-menu-container{
						display: block;
						padding-left: 40px;
						height: 25px;
						line-height: 25px;
						.second_tools{
							display: none;
						}
						&:hover{
							background-color: #DAE8F8;
							.second_tools{
								margin-left: 20px;
								display: inline-block;
							}
						}
					}
				}
			}
		}

		.msg-container{
			padding-left: 0;
			.msg-header{
				.mc-header;
				.mc-border(0 5px 0 0,1px 1px 0 1px);
			}
			.msg-list{
				.mc-border(0 0 5px 0,0 1px 1px 1px);
				min-height: @list-min-height;
				padding: 10px 0 0 10px;
			}
		}
	}
	
}

.tips{
	position:fixed;
	margin:auto;
	left:0; 
	right:0;
	top:0; 
	bottom:0;
	width: 800px;
	z-index: 0;
	display: inline-block;
}