body{
	margin: 0;
	padding: 0;
	border-width: 0;
	width: 1024px;
}

.mc-header{
	height: 45px;
	line-height: 45px;
	background-color: #F3F3F3;
}

.mc-border(@border-radius: 1px, @border-width: 1px;){
	padding-left: 10px;
	border-width: @border-width;
	border-color: #ddd;
	border-style: solid;
	border-radius: @border-radius;
}

@list-min-height: 460px;

.container{
	.wechat-menu-conf-container{
		.menu-container{
			padding-right: 0;
			.menu-header{
				.mc-header;
				.mc-border(5px 0 0 0,1px 0 0 1px);
				button{
					// margin-left: 90px;
				}
			}
			.menu-list{
				.mc-border(0 0 0 5px,0 0 1px 1px);
				min-height: @list-min-height;
				padding-left: 0;
				.first-menu{
					display: block;
					.btn{
						padding: 2px 4px;
					}
					.pointer{
						cursor: pointer;
					}
					.first-menu-container{
						display: block;
						padding-left: 10px;
						height: 25px;
						line-height: 25px;
						.first_tools{
							display: none;
						}
						&:hover{
							background-color: #DAE8F8;
							.first_tools{
								margin-left: 20px;
								display: inline-block;
							}
						}
					}

					.second-menu-container{
						display: block;
						padding-left: 40px;
						height: 25px;
						line-height: 25px;
						.second_tools{
							display: none;
						}
						&:hover{
							background-color: #DAE8F8;
							.second_tools{
								margin-left: 20px;
								display: inline-block;
							}
						}
					}
				}
			}
		}

		.msg-container{
			padding-left: 0;
			.msg-header{
				.mc-header;
				.mc-border(0 5px 0 0,1px 1px 0 1px);
			}
			.msg-list{
				.mc-border(0 0 5px 0,0 1px 1px 1px);
				min-height: @list-min-height;
				padding: 10px 0 0 10px;
				.has-child{
					text-align: center;
					padding-top: 26%;
				}
				.text-msg{
					.text-msg-content{
						border: solid 1px rgb(186, 184, 184);
						margin-top: 22px;
						width: 80%;
						min-height: 50px;
						line-height: 50px;
						font-size: 17px;
						padding: 0 15px 0 15px;
						border-radius: 5px;
					}
				}
				.add-action-group{
					text-align: center;
					padding-top: 18%;
					margin-left: 25%; 
					.to-add-msg{
						float: left;
					}
					.to-add-url{
						float: left;
						margin-left: 5%;
					}
				}

				.icon_menu_action{
					width: 144px;
					height: 144px;
					vertical-align: middle;
					display: inline-block;
				}
				.icon_menu_action.send{
					background: url("../../commen/img/ico/advanced_menu_setting_z.png") 0 -154px no-repeat;
				}

				.icon_menu_action.send:hover{
					background: url("../../commen/img/ico/advanced_menu_setting_z.png") 0 0px no-repeat;
				}

				.icon_menu_action.url{
					background: url("../../commen/img/ico/advanced_menu_setting_z.png") 0 -462px no-repeat;
				}

				.icon_menu_action.url:hover{
					background: url("../../commen/img/ico/advanced_menu_setting_z.png") 0 -309px no-repeat;
				}
			}
		}
	}
	
}

.tips{
	position:fixed;
	margin:auto;
	left:0; 
	right:0;
	top:0; 
	bottom:0;
	width: 800px;
	z-index: 0;
	display: inline-block;
}

	