<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<title>设置图文回复</title>
		<meta http-equiv="Content-Type" content="text/html ;charset=utf-8" />
		<link rel="stylesheet" href="__PUBLIC__/commen/css/lib/bootstrap.min.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="__PUBLIC__/admin/css/media_return_conf.css" type="text/css" media="screen" />
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
		<!-- <img ng-src="__PUBLIC__/Uploads/media_img/{{data}}" alt="">
		<div class="button" ng-file-select ng-file-change="upload($files)">Upload on file change</div>
		
		<div style="height:500px;width:500px;" class="ueditor" ng-model="content1" ></div>
		<textarea ng-model="content1"></textarea> -->
		<div class="container">
			<h4>设置图文消息</h4>
			<hr>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">图文</a></li>
					<!-- <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li> -->
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active tab-inner-content" id="home">
						<div class="left">
							<div class="item" ng-repeat="item in mediaList track by $index">
								<div class="img">
									<img ng-src="{{item.media_img}}" alt="">
								</div>
								<div class="title">
									{{item.media_title}}
									<div class="hidden-panel" show-tips>
										<a><i class="glyphicon glyphicon-pencil" edit-item index='$index' ng-click="editItemClick($index)"></i></a> &nbsp;&nbsp;
										<a><i class="glyphicon glyphicon-trash" ></i></a> 
									</div>
								</div>
							</div>
							
							<!-- 添加框 -->
							<div class="add-new-item">
								<i class="glyphicon glyphicon-plus" style="font-size:25px;color:#CEC9C9;"></i>
							</div>
						</div>
						<div class="right">
							<i class="arrow arrow_out"></i>
							<i class="arrow arrow_in"></i>
							<form name="editForm" novalidate>
								<div class="controls">
									<label for="" style="  margin-left: -24px; display: block; float: left;">标题</label> 
									<input type="text" ng-model='editItem.media_title' required />
								</div>
								<div class="controls">
									<label for="">作者(选填)</label>
									<input type="text" ng-model='editItem.media_major' required />
								</div>

								<div class="controls">
									<label for="">封面</label>
									<input type="file" ng-file-select ng-file-change="upload($files)" required />
								</div>
								<div>
									<input type="checkbox" ng-model="editItem.media_head_in_content" />&nbsp;封面图片显示在正文中
									<br>
									<br>
								</div>
								<div class="controls main-content">
									<label for="">正文</label>
									<div class="ueditor" config="_simpleConfig" ng-model="editItem.media_content" ></div>
								</div>
								<button class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="saveInfo()">提交</button>
							</form>
						</div>
					</div>
					<!-- <div role="tabpanel" class="tab-pane" id="profile">...</div> -->
				</div>
			</div>
		</div>
		<!-- 以下是 js 依赖 -->
		<js file="__PUBLIC__/commen/js/lib/jquery.min.js" />
		<js file="__PUBLIC__/commen/js/lib/bootstrap.min.js" />
		<js file='__PUBLIC__/commen/js/lib/angular.min.js' />
		<js file='__PUBLIC__/commen/angular-file-upload/angular-file-upload-shim.min.js' />
		<js file='__PUBLIC__/commen/angular-file-upload/angular-file-upload.min.js' />
		<js file="__PUBLIC__/commen/ueditor/ueditor.config.js" />
		<js file="__PUBLIC__/commen/ueditor/ueditor.all.js" />
		<js file='__PUBLIC__/commen/angular-ueditor/angular-ueditor.js' />
		<js file='__PUBLIC__/admin/js/media_return/controllers.js' />
		<js file='__PUBLIC__/admin/js/media_return/services.js' />
		<js file='__PUBLIC__/admin/js/media_return/directives.js' />
		<script>
			var getCustomReturnUrl = "{:U('CustomReturn/get_cutom_text_return_info')}";
			var currentAction = "__URL__";
			var publicFolder = "__PUBLIC__";
		</script>
	</body>
</html>