<!DOCTYPE html>
<html ng-app="homeApp">
	<head>
		<title>欢迎访问卖盟</title>
		<meta charset="utf-8" content="content">
		<link rel="stylesheet" type="text/css" href="css/home.css">
	</head>
	<body ng-controller="homeCtrl">
		这里是卖盟

		<table>
			<tr>
				<th>序号</th>
				<th>用户名</th>
				<th>昵称</th>
				<th>邮箱</th>
				<th>实名</th>
				<th>手机</th>
				<th>地址</th>
				<th>操作</th>
			</tr>
			<tr ng-repeat="userInfo in user_list|filter:searchKey">
				<td>{{$index+1}}</td>
				<td>{{userInfo.user_name}}</td>
				<td>{{userInfo.user_nick_name}}</td>
				<td>{{userInfo.user_email}}</td>
				<td>{{userInfo.user_full_name}}</td>
				<td>{{userInfo.user_telephone}}</td>
				<td>{{userInfo.user_address}}</td>
				<td>
					<a href="" ng-click="removeUserInfo(userInfo.user_id)"><span class="glyphicon glyphicon-trash"></span></a>
				</td>
			</tr>
		</table>
		<script src="js/lib/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
           var homeApp = angular.module('homeApp', ['controllers', 'services']);
            var controllers = angular.module('controllers', []);
            var services = angular.module('services', []);
            controllers.controller('homeCtrl', ['$scope','Test', function($scope,Test){
            	Test.getData();
            	$scope.$on('Test.update', function (event) {
            		$scope.user_list = Test.data;
            		console.log(Test.data)
            	});
            }]);

            services.service('Test', ['$http','$rootScope', function($http,$rootScope){
            	var Test = {};
            	Test.data = null;
            	Test.getData = function () {
            		$http({
		                method: 'POST',
		                url: 'http://weimart.sinaapp.com/index.php/API/UserAPI/get_user_list',
		                data: 'null',
		                headers: {
			                    'Content-Type': 'application/x-www-form-urlencoded'
		                }
		            })
	                .success(function(data) {
	                   Test.data = data.data;
	                   $rootScope.$broadcast('Test.update');
	                });
            	}
            	return Test;
            }])
		</script>
	</body>
</html>