<div class="text-conf">
	<div class="row search-container">
		<div class="col-xs-4">
			<div class="input-group">
				<input type="text" class="form-control mini-input" ng-model="pagination.tempKeyword" placeholder="请输入关键字">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="searchKeyword()">搜索一下</button>
				</span>
			</div>
		</div>
		<div class="col-xs-2 col-xs-offset-6">
			<div class="input-group">
				<button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">添加新条目</button>
			</div>
		</div>
	</div>
	<table class="table table-bordered">
		<tr>
			<th>序号</th>
			<th>关键字</th>
			<th>自定义回复</th>
			<th>创建时间</th>
			<th>修改</th>
			<th>删除</th>
		</tr>
		<tr ng-repeat="(key, customReturnItem) in customReturnList">
			<td>{{(pagination.currentPage-1)*pagination.pageSize+key+1}}</td>
			<td>{{customReturnItem.msg_keyword}}</td>
			<td>{{customReturnItem.msg_text}}</td>
			<td>{{customReturnItem.msg_create_time}}</td>
			<td><span class="glyphicon glyphicon-pencil"></span></td>
			<td><span class="glyphicon glyphicon-trash"></span></td>
		</tr>
	</table>
	<div class="pagination-container">
		<div class="href-container">
			<nav>
				<ul class="pagination">
					<li ng-class="{true:'disabled'}[1==pagination.currentPage]" ng-click="prePage()">
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li ng-class="{true:'active'}[key+1==pagination.currentPage]" ng-repeat="(key, value) in pageData" ng-click="jumpToPage(key+1)">
						<a href="#">{{key+1}}</a>
					</li>
					<li ng-class="{true:'disabled'}[pagination.allPages==pagination.currentPage]" ng-click="nextPage()">
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="tips">
			{{pagination.totalCount}}条记录，共{{pagination.allPages}}页，当前第 {{pagination.currentPage}} 页，每页显示 {{pagination.pageSize}} 条记录
		</div>
	</div>
</div>
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{textInfo.modalTitleText}}</h4>
			</div>
			<div class="modal-body">
				<div class="keyword-container">
					<div class="row">
						<div class="col-xs-4 label-container">
							<span>请输入关键字：</span>
						</div>
						<div class="col-xs-6">
							<div class="input-group">
								<input type="text" class="form-control mini-input" ng-model="pagination.tempKeyword" placeholder="请输入关键字">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="searchKeyword()">添加</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-xs-offset-4">
							<div class="">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>