<!DOCTYPE html>
<html ng-app="WechatApp">
	<head>
		<title></title>
		<script type="text/javascript" src="__PUBLIC__/commen/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/commen/js/lib/bootstrap.min.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/commen/css/lib/bootstrap.min.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="__PUBLIC__/admin/css/wechat_conf.css" type="text/css" media="screen" />
		<js file='__PUBLIC__/commen/js/lib/angular.min.js' />
		<js file='__PUBLIC__/admin/js/wechat.js' />
		<js file='__PUBLIC__/admin/js/wechatCtrls.js' />
		<js file='__PUBLIC__/admin/js/wechatServices.js' />
		<script>
			var getMenuListUrl = "{:U('get_menu_list')}";
			var saveMenuInfoUrl = "{:U('save_menu_info')}";
			var removeFirstMenuUrl = "{:U('remove_first_menu')}";
			var removeSecondMenuUrl = "{:U('remove_second_menu')}";
			var getSecondMenuInfoUrl = "{:U('get_second_menu_info_by_id')}";
		</script>
	</head>
	<body ng-controller="wechatCtrl">
		<div class="container">
			<div class="wechat-menu-conf-container" >
				<div class="conf-container">
					<div class="row">
						<div class="menu-container col-xs-3">
							<div class="menu-header">
								<span>菜单管理</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button class="btn btn-success btn-xs" ng-click="add_first_menu()">添加</button>
							</div>
							<div class="menu-list">
								<div class="first-menu" ng-repeat="firstMenu in menuList">
									<div class="first-menu-container pointer" ng-click="editMenuMsg($index)">
										<i class="glyphicon glyphicon-play"></i>
										<span>{{firstMenu.menu_name}}</span>
										<div class="first_tools">
											<a href="#" class="btn">
												<i class="glyphicon glyphicon-plus" ng-click="add_second_menu($index)"></i>
											</a>
											<a href="#" class="btn">
												<i class="glyphicon glyphicon-pencil" show-name-modal-directive ng-click="edit_first_menu($index)"></i>
											</a>
											<a href="#" class="btn">
												<i class="glyphicon glyphicon-trash" ng-click="remove_first_menu($index);"></i>
											</a>
										</div>
									</div>
									<div class="second-menu-container pointer" ng-repeat="secondMenu in firstMenu.secondMenuList track by $index" ng-click="editMenuMsg($index, $parent.$index)">
										<i class="glyphicon glyphicon-star"></i>
										<span>{{secondMenu.menu_name}}</span>
										<div class="second_tools">
											<a href="#" class="btn">
												<i class="glyphicon glyphicon-pencil" show-name-modal-directive ng-click="edit_second_menu($parent.$index, $index)"></i>
											</a>
											<a href="#" class="btn">
												<i class="glyphicon glyphicon-trash" ng-click="remove_second_menu($parent.$index, $index);"></i>
											</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="msg-container col-xs-9">
							<div class="msg-header">
								<span>设置动作</span>
								<span class="pull-right"><button ng-show="defaultCss.settedText" class="btn btn-sm" ng-click="toShowMsgEdit()">修改</button></span>
							</div>
							<div class="msg-list">
								<div class="edit-text-msg" ng-show="defaultCss.toSetTextMsg">
									你可以先添加一个菜单，然后开始为其设置响应动作
									<hr>
									<div class="edit-container">
										<ul class="nav nav-tabs">
											<li role="presentation" class="active"><a href="#"><i class="glyphicon glyphicon-pencil" ng-click="remove_second_menu($parent.$index, $index);"></i>文字</a></li>
											<li role="presentation"><a href="#"><i class="glyphicon glyphicon-picture" ng-click="remove_second_menu($parent.$index, $index);"></i>图文</a></li>
										</ul>
										<div class="edit-textarea">
											<textarea ng-model="editTextMsg.msg_text">
												
											</textarea>
										</div>
										<div class="left-text-count">
											<span class="pull-right">还可输入{{600-editTextMsg.msg_text.length}}字</span>
										</div>

										<div class="btn-group pull-right">
											<div class="btn-outer">
												<button class="btn btn-success">保存</button>
											</div>
											<div class="btn-outer">
												<button class="btn btn-default">重新输入</button>
											</div>
										</div>
									</div>
								</div>
								<div class="text-msg" ng-show="defaultCss.settedText">
									你设置的消息内容如下：
									<div class="text-msg-content">
										{{settedTextValue}}
									</div>
								</div>
								<div class="has-child" ng-show="defaultCss.hasChild">
									<span>对不起，已经有子菜单，不能设置动作</span>
								</div>
								<div class="to-choose" ng-show="defaultCss.toChoose">
									请选择订阅者点击菜单后，公众号做出的相应动作
									<div class="add-action-group">
										<div class="to-add-msg">
											<a href="#" ng-click="toShowMsgEdit()">
												<i class="icon_menu_action send"></i><br>
												<font>发送消息</font>
											</a>
										</div>
										<div class="to-add-url">
											<a href="#">
												<i class="icon_menu_action url"></i><br>
												<font>跳转到网页</font>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<p>
			<button class="btn btn-success pull-right" show-modal-directive>发布</button>
			</p>
			<br/>
			<!-- container -->
			<div ng-include="'__PUBLIC__/admin/tpl/wechat_menu_conf/modals.html'"></div>
			<!-- modal -->
			<div ng-include="'__PUBLIC__/admin/tpl/wechat_menu_conf/tips.html'"></div>
		</div>
		<!-- error-tips -->
		<br>
		<br>
		<br>
	</body>
</html>