<!DOCTYPE html>
<html ng-app="WechatApp">
	<head>
		<title></title>
		<script type="text/javascript" src="__PUBLIC__/commen/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/commen/js/lib/bootstrap.min.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/commen/css/lib/bootstrap.min.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="__PUBLIC__/admin/css/wechat_conf.css" type="text/css" media="screen" />
		<js file='__PUBLIC__/commen/js/lib/angular.min.js' />
		<js file='__PUBLIC__/admin/js/wechat.js' />
		<js file='__PUBLIC__/admin/js/wechatCtrls.js' />
		<js file='__PUBLIC__/admin/js/wechatServices.js' />
		<script>
			var getMenuListUrl = "{:U('get_menu_list')}";
			var saveMenuInfoUrl = "{:U('save_menu_info')}";
			var removeFirstMenuUrl = "{:U('remove_first_menu')}";
			var removeSecondMenuUrl = "{:U('remove_second_menu')}";
		</script>
	</head>
	<body ng-controller="wechatCtrl">
		<div class="container">
			<div class="wechat-menu-conf-container" >
				<div class="conf-container">
					<div class="row">
						<div class="menu-container col-xs-3">
							<div class="menu-header">
								<span>菜单管理</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button class="btn btn-success btn-xs" ng-click="add_first_menu()">添加</button>
							</div>
							<div class="menu-list">
								<div class="first-menu" ng-repeat="firstMenu in menuList">
									<div class="first-menu-container">
										<i class="glyphicon glyphicon-play"></i>
										<span>{{firstMenu.menu_name}}</span>
										<div class="first_tools">
											<a href="#" class="btn">
												<i class="glyphicon glyphicon-plus" ng-click="add_second_menu($index)"></i>
											</a>
											<a href="#" class="btn">
												<i class="glyphicon glyphicon-pencil" ng-click="edit_first_menu($index)"></i>
											</a>
											<a href="#" class="btn">
												<i class="glyphicon glyphicon-trash" ng-click="remove_first_menu($index);"></i>
											</a>
										</div>
									</div>
									<div class="second-menu-container" ng-repeat="secondMenu in firstMenu.secondMenuList track by $index">
										<i class="glyphicon glyphicon-star"></i>
										<span>{{secondMenu.menu_name}}</span>
										<div class="second_tools">
											<a href="#" class="btn">
												<i class="glyphicon glyphicon-pencil" show-name-modal-directive ng-click="edit_second_menu($parent.$index, $index)"></i>
											</a>
											<a href="#" class="btn">
												<i class="glyphicon glyphicon-trash" ng-click="remove_second_menu($parent.$index, $index);"></i>
											</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="msg-container col-xs-9">
							<div class="msg-header">
								<span>设置动作</span>
							</div>
							<div class="msg-list">
								<input type="text" ng-model="editMenuName" name="{{editMenuId}}">
								<input type="text" class="form-control" ng-model="editMenuName"  placeholder="请输入菜单名称">
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<button class="btn btn-success pull-right" show-modal-directive>发布</button>
			<br/>
			<br/>
			<!-- container -->
			<div class="modal fade" id="menuModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">{{menuModalTitle}}</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="editMenuName" class="col-xs-3 control-label">菜单名称：</label>
									<div class="col-xs-6">
										<input type="text" class="form-control" ng-model="editMenuInfo.editMenuName"  placeholder="请输入菜单名称">
										<input type="hidden" ng-model="editMenuInfo.editMenuType">
										<input type="hidden" ng-model="editMenuInfo.editMenuId">
										<input type="hidden" ng-model="editMenuInfo.editMenuParentId">
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save_menu_name()">保存</button>
						</div>
					</div>
				</div>
			</div>
			<!-- modal -->
			<div class="tips" ng-show="tips.errorShow">
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<strong>{{tips.Text}}!</strong>
					<span class="pull-right">还有<strong>{{tips.leftTime}}</strong>秒自动关闭！&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</div>
			</div>
			<div class="tips" ng-show="tips.successShow">
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<strong>{{tips.Text}}!</strong>
					<span class="pull-right">还有<strong>{{tips.leftTime}}</strong>秒自动关闭！&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</div>
			</div>


		</div>
		<!-- error-tips -->
		<br>
		<br>
		<br>
	</body>
</html>