<!-- 所有分类Container -->
<div class="nav-outer-container">
	<div class="type-container start-prepare" ng-repeat="typeMainItem in firstFourtypeList">
		<div class="title-container start-prepare">
			<span class="title">
				<a href="#/home/type">{{typeMainItem.type_name}}</a>
			</span>
		</div>
		<div class="type-mini-container start-prepare">
			<div class="type-text start-prepare">
				<div class="mini-item start-prepare" ng-repeat="rowItem in typeMainItem.nodes">
					<span class="type-name" ui-sref="product_list({id:rowItem.type_id})">{{rowItem.type_name}}</span>
					<span ng-class="item.type_class" ng-repeat="item in rowItem.nodes">
						<span ui-sref="product_list({id:item.type_id})">{{item.type_name}}</span>
					</span>
				</div>
			</div>
			<div class="type-img start-prepare">
				<!-- 小缩略图 -->
				<img ng-src="{{imageURLs.publicUrl}}img/main_left/{{$index}}.jpg" >
			</div>
		</div>
	</div>
	<div class="middle-ad start-prepare">
		<img ng-src="{{imageURLs.publicUrl}}img/7.JPG" >
	</div>
	<div class="type-container start-prepare" ng-repeat="typeMainItem in secondTwotypeList">
		<div class="title-container start-prepare">
			<span class="title">
				{{typeMainItem.type_name}}
			</span>
		</div>
		<div class="type-mini-container start-prepare">
			<div class="tw-img start-prepare">
				<div class="tw-one">
					<img ng-src="{{imageURLs.publicUrl}}img/main_left/{{$index+5}}.png">
					<p>{{typeMainItem.ad_1}}</p>
				</div>
				<div class="tw-one">
					<img ng-src="{{imageURLs.publicUrl}}img/main_left/{{$index+7}}.png">
					<p>{{typeMainItem.ad_2}}</p>
				</div>
			</div>
			<div class="type-text start-prepare">
				<div class="mini-item start-prepare" ng-repeat="rowItem in typeMainItem.nodes">
					<span class="type-name">{{rowItem.type_name}}</span>
					<span ng-class="item.type_class" ng-repeat="item in rowItem.nodes">
						{{item.type_name}}
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="type-container start-prepare" ng-repeat="typeMainItem in thirdOnetypeList">
		<div class="title-container start-prepare">
			<span class="title">
				{{typeMainItem.type_name}}
			</span>
		</div>
		<div class="type-mini-container start-prepare">
			<div class="jade-imgs start-prepare">
				<img ng-src="{{imageURLs.publicUrl}}img/main_left/jade.jpg">
				<img ng-src="{{imageURLs.publicUrl}}img/main_left/jade2.jpg">
				<img ng-src="{{imageURLs.publicUrl}}img/main_left/jade2.jpg">
				<img ng-src="{{imageURLs.publicUrl}}img/main_left/jade.jpg">
			</div>
			<div class="jade-texts">
				<div class="jade-items start-prepare" ng-repeat="rowItem in typeMainItem.nodes">
					<span class="type-name">{{rowItem.type_name}}</span>
					<span class="commen" ng-class="item.type_class" ng-repeat="item in rowItem.nodes">
						{{item.type_name}}
					</span>
				</div>
			</div>
			<div class="jade-bottom-img">
				<img ng-src="{{imageURLs.publicUrl}}img/main_left/watch.jpg">
				<img ng-src="{{imageURLs.publicUrl}}img/main_left/watch.jpg">
			</div>
		</div>
	</div>
	<div class="type-container start-prepare" ng-repeat="typeMainItem in fourthOnetypeList">
		<div class="title-container start-prepare">
			<span class="title">
				{{typeMainItem.type_name}}
			</span>
		</div>
		<div class="type-mini-container start-prepare">
			<div class="snack-imgs">
				<img ng-src="{{imageURLs.publicUrl}}img/main_left/snack.JPG">
				<img ng-src="{{imageURLs.publicUrl}}img/main_left/snack2.JPG">
				<img ng-src="{{imageURLs.publicUrl}}img/main_left/snack.JPG">
				<img ng-src="{{imageURLs.publicUrl}}img/main_left/snack2.JPG">
			</div>
			<div class="snack-texts">
				<div class="snack-items start-prepare" ng-repeat="rowItem in typeMainItem.nodes">
					<span class="type-name">{{rowItem.type_name}}</span>
					<span ng-class="item.type_class" ng-repeat="item in rowItem.nodes">
						{{item.type_name}}
					</span>
				</div>
			</div>
		</div>
	</div>
</div>