<!-- 主页面 #1 -->
<div class="container home-container">
	<!-- 头部 Container(Logo和搜索框) #2 -->
	<div class="start-prepare header-container">
		<img ng-src="{{imageURLs.logo}}" class="start-prepare logo" ui-sref="home()" alt="微店">
		<!-- 搜索Container #3 -->
		<div class="search-container">
			<input type="text" placeholder="请输入关键字" />
			<button class="btn-search">搜索</button>
		</div>
	</div>
	<!-- 商品列表 # -->
	<div class="prod-list">
		<div class="page-flow">
			<a href="#">首页</a>
			 <!-- ><a href="#">{{currentTypeInfo.type_name}}</a> -->
			 <span ng-repeat="currentTypeInfo in fatherList">
			 	>&nbsp;<a href="#" ui-sref="product_list({id:currentTypeInfo.type_id})">{{currentTypeInfo.type_name}}</a>&nbsp;
			 </span>
		</div>

		<div class="title">
			以下为您显示“<span>{{currentTypeInfo.type_name}}</span>”的搜索结果
		</div>

		<div class="class-flow">
			<span>所有分类</span> >
		</div>

		<div class="class-list">
			<!-- <div class="classes">
				<div class="heading">
					品牌：
				</div>
				<div class="class-item">
					<img ng-src="{{imageURLs.publicUrl}}img/prod-list/{{value.url}}" ng-repeat="(key, value) in brands">
				</div>
			</div> -->

			<!-- <div class="classes">
				<div class="heading">
					选购热点：
				</div>
				<div class="class-item">
					<span ng-repeat="(key, value) in hotSell">{{value.item}}</span>
				</div>
			</div> -->
			
			<!--此处数据待修改-->

			<!-- <div class="classes">
				<div class="heading">
					春季流行：
				</div>
				<div class="class-item">
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					<span>修身显瘦<span class="sum">(121212)</span></span>
					
				</div>
			</div> -->
			
			<!--此处数据待修改-->
			<div class="classes">
				<div class="heading" ng-show="currentTypeInfo.extend_types">
					选购热点：
				</div>
				<div class="heading" ng-hide="currentTypeInfo.extend_types">
					暂无分类
				</div>
				<div class="class-item">
					<span ng-repeat="item in currentTypeInfo.extend_types">
						<a href="" ui-sref="product_list({id:item.type_id})" title="{{item.type_name}}">{{item.type_name}}</a>
					</span>
				</div>
			</div>
		</div>


		<div class="baby-list-block">
			<div class="baby-list" ng-repeat="item in list" ui-sref="product_detail({id:item.product_id})">
				<img ng-src="{{item.product_img}}" alt="{{item.product_name}}">
				<div class="price">￥ {{item.product_price}}</div>
				<div class="desc">{{item.product_name}}</div>
			</div>
		</div>
	</div>
	<div class="common-bottom">
		<img ng-src="{{imageURLs.publicUrl}}img/common-bottom.png">
	</div>
</div>