<!-- 主页面 #1 -->
<div class="container home-container">
	<!-- 头部 Container(Logo和搜索框) #2 -->
	<div class="start-prepare header-container">
		<img ng-src="{{imageURLs.logo}}" class="start-prepare logo" alt="微店">
		<!-- 搜索Container #3 -->
		<div class="search-container">
			<input type="text" placeholder="请输入关键字" />
			<button class="btn-search">搜索</button>
		</div>
	</div>
	<!-- Nav Container #4 -->
	<div class="start-prepare nav-container">
		<!-- ul container #7 -->
		<div class="start-prepare ul-container">
			<ul>
				<li class="start-prepare"><a href="#/home">主页</a></li>
				<li class="start-prepare"><a href="#/hot_baby">热卖宝贝</a></li>
				<li class="start-prepare"><a href="#/popular_brand">热门品牌</a></li>
				<li class="start-prepare"><a href="#/popular_shop">热门卖家</a></li>
				<li class="start-prepare"><a href="#/delegate">代理服务</a></li>
				<li class="start-prepare"><a href="#/more_cheap">更多优惠</a></li>
			</ul>
		</div>
	</div>
	<div class="product-detail-container">
		<div class="product-info">
			<div class="img-container">
				<img ng-src="{{productInfo.product_img}}" alt="{{productInfo.product_name}}">
			</div>
			<div class="title-container">
				<div class="title">
					{{productInfo.product_name}}
				</div>
				<div class="desc" title="{{productInfo.product_brif}}">
					{{productInfo.product_brif|trimStr:100}}
				</div>
				<div class="price-container">
					<div class="price">
						<span class="title">一口价: </span>
						<span class="price">¥{{productInfo.product_price}}</span>
					</div>
					<div class="price">
						<span class="title">库存: </span>
						<span class="left">{{productInfo.product_left}}件&nbsp;(总量:{{productInfo.product_num}}件,已售:{{productInfo.product_num-productInfo.product_left}}件)</span>
					</div>
					<div class="favourite-container">
						<button class="btn contact-seller">联系卖家</button>
						<button class="btn favourite" ng-click="collect_product(productInfo.product_id)">收藏商品</button>
					</div>
				</div>
			</div>
		</div>
		<div class="shop-info">
			<div class="title">
				店铺信息
			</div>
			<div class="info-container">
				<div class="shop-name">
					<img ng-src="{{productInfo.shop_info[0].shop_img_temp}}" class="img-circle" alt="">
					<span>{{productInfo.shop_info[0].shop_name}}</span>
				</div>
			</div>
			<div class="line-info">
				<span class="title">主营: </span>
				<span class="content">{{productInfo.shop_info[0].shop_brif|trimStr:20}}</span>
			</div>
			<div class="favourite-shop-container">
				<button class="btn into-shop">进入店铺</button>
				<button class="btn favourite-shop" ng-click="collect_shop(productInfo.shop_info[0].shop_id)">收藏店铺</button>
			</div>
		</div>
	</div>
	<div class="product_detail">
		<div class="title-container">
			<span>商品详情:</span>
			<div ng-bind-html="productInfo.product_desc|trustHtml"></div>
		</div class="title-container">
	</div>
</div>