<!-- 右侧导航栏 -->
<div id="find-goods">
	<div class="find-goods-title">
		发现·好货
	</div>

	<div class="favor-diy">
		定制我的偏好
	</div>

	<!-- <div class="goods" ng-repeat="goodsItems in goods">
		<img ng-src="{{imageURLs.publicUrl}}img/main_right/{{goodsItems.pic}}">
		<div class="goods-desc">
			<div class="goods-title">
				<strong>{{goodsItems.title}}</strong>
			</div>
			<p class="goods-orig">{{goodsItems.orig}}</p>
			<p class="goods-sell"><strong>{{goodsItems.sell}}</strong></p>
		</div>	
	</div> -->
	<div class="goods" ng-repeat="goodsItems in recommendList">
		<img ng-src="{{goodsItems.product_img}}">
		<div class="goods-desc">
			<div class="goods-title">
				<strong>{{goodsItems.product_name}}</strong>
			</div>
			<p class="goods-orig">{{goodsItems.product_desc}}</p>
			<p class="goods-sell"><strong>{{goodsItems.product_num}}</strong></p>
		</div>	
	</div>
	<div class="goods">
		<p class="change">换一批试试</p>
	</div>
</div>

<div id="find-shop">
	<div class="find-shop-title">
		发现·好店
	</div>

	<div class="shop" ng-repeat="shopItem in shops">
		<img ng-src="{{imageURLs.publicUrl}}img/main_right/{{shopItem.pic}}" class="shop-img" >

		<div class="shop-info">
			<p class="shop-name"><strong>{{shopItem.name}}</strong></p>
			<p class="shop-goods">主营：{{shopItem.goods}}</p>
		</div>

		<p>{{shopItem.desc}}</p>

		<div class="shop-goods-imgs">
			<img ng-src="{{imageURLs.publicUrl}}img/main_right/{{shopItem.goodPic1}}" class="shop-goods-img">
			<img ng-src="{{imageURLs.publicUrl}}img/main_right/{{shopItem.goodPic2}}" class="shop-goods-img">
			<img ng-src="{{imageURLs.publicUrl}}img/main_right/{{shopItem.goodPic3}}" class="shop-goods-img">
		</div>
	</div>
	
	<div class="shop">
		<p class="change">换一批试试</p>
	</div>
	
</div>