<div class="right">
	<div class="row">
		<div class="btn-group search-group col-xs-3">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="请输入商品关键字" ng-model="searchKeyword">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">搜索</button>
				</span>
			</div>
		</div>
		<div class="btn-group order-group" role="group" aria-label="..." ng-init="filterType='approve'">
			<button type="button" class="btn btn-default" ng-class="{'active':filterType=='approve'}" ng-click="setFilterType('approve')">已同意</button>
			<button type="button" class="btn btn-default" ng-class="{'active':filterType=='apply'}" ng-click="setFilterType('apply')">申请中</button>
			<button type="button" class="btn btn-default" ng-class="{'active':filterType=='refuse'}" ng-click="setFilterType('refuse')">已拒绝</button>
		</div>

		<button class="btn btn-primary" data-toggle="modal" data-target="#editProductModal" ng-click="setAddInfo()">设置招代理</button>
	</div>
	<div class="product-table-container">
		<table class="table table-hover" ng-show="delegateList">
			<tr>
				<th>店铺名称</th>
				<th>店铺简介</th>
				<th>进入店铺</th>
				<th>申请时间</th>
				<th ng-hide="filterType=='apply'">处理时间</th>
				<th ng-show="filterType=='apply'">操作</th>
			</tr>
			<tr ng-repeat="item in delegateList|filterDelegateByType:filterType|filter:searchKeyword">
				<td>{{item.shop_name}}</td>
				<td>{{item.shop_desc}}</td>
				<td><a href="">进入店铺</a></td>
				<td>{{item.shop_apply_delegate_time}}</td>
				<td ng-hide="filterType=='apply'">{{item.shop_delegate_time}}</td>
				<td ng-show="filterType=='apply'">
					<button class="btn btn-success btn-xs" ng-click="approveDelegate(item.shop_id)">同意</button>
					<button class="btn btn-danger btn-xs" ng-click="refuseDelegate(item.shop_id)">拒绝</button>
				</td>
			</tr>
		</table>
		<h4 ng-hide="delegateList">对不起,暂无数据!</h4>
	</div>
	<div class="modal fade" id="editProductModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" ng-init="modalTitle='发布代理信息'">{{modalTitle}}</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="delegate-img-container">
							<div class="img">
								<img ng-src="{{editDelegateInfo.shop_delegate_img}}" alt="上传代理宣传图片">
							</div>
							<div class="button">
								<button class="btn btn-primary" ng-file-select ng-file-change="upload($files)">上传宣传图片</button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">代理描述:</label>
							<div class="col-sm-6 main-content-container">
								<div class="ueditor" config="_simpleConfig" ng-model="editDelegateInfo.shop_delegate_desc"></div>
							</div>
						</div>
						<!-- <div class="form-group">
							<label for="delegate-desc" class="col-sm-2 control-label">代理描述</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="delegate-desc" placeholder="代理描述"></div>
						</div> -->
					</form>
				</div>
				<div class="modal-footer">
					<span>
						代理状态：
						<select ng-model="editDelegateInfo.shop_delegate_state" ng-options="item for item in selectStates">
							<option value="">请选择</option>
						</select>
					</span>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveDelegateInfo()">保存</button>
				</div>
			</div>
		</div>
	</div>
</div>