<link rel="stylesheet" href="css/home/goods.css">
<div class="container col-xs-12">
	<div class="row goods-fore">		
		<div class="col-xs-1">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true" ng-click="goBack()"></span>
		</div>
		<div class="col-xs-10">
			<span class="title">{{productInfo.product_name}}</span>
		</div>
	</div>

	<div class="row pic">
		<div class="col-xs-8 col-xs-offset-2">
			<img src="{{productInfo.product_img}}" alt="{{productInfo.product_name}}" class="img" title="{{productInfo.product_name}}">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 desc">
			<div class="col-xs-10">
				<div class="title-text">
					{{productInfo.product_brif}}
				</div>
			</div>
			<div class="col-xs-2">
				<div class="tabs">
					<img src="img/goods/1.png" alt="" ng-click="onFavoriteProd()" ng-show="product_is_collected == '0'">
					<img src="img/goods/2.png" alt="" ng-click="onFavoriteProd()" ng-show="product_is_collected == '1'">
				</div>
			</div>

			<div class="col-xs-12 price">
				<span class="new">{{productInfo.product_price|currency: '￥'}}</span>
				<span class="old">（库存：{{productInfo.product_left}} &nbsp;| &nbsp;销量：{{productInfo.product_num-productInfo.product_left}}）</span>
			</div>
		</div>
	
	</div>


	<div class="row goods-info-title">
		<div class="col-xs-6 col-xs-offset-3 title-box" >
			<span>商品信息</span>
		</div>
	</div>

	<div class="row goods-info">
		
		<div class="col-xs-12 info-item">
			<span class="col-xs-4 info-title">
				商品名称
			</span>
			<span class="col-xs-8 info-ctn">
				{{productInfo.product_name}}
			</span>
		</div>
		<div class="col-xs-12 info-item">
			<span class="col-xs-4 info-title">
				注册时间
			</span>
			<span class="col-xs-8 info-ctn">
				{{productInfo.product_register_time}}
			</span>
		</div>
		<div class="col-xs-12 info-item">
			<span class="col-xs-4 info-title">
				商品编号
			</span>
			<span class="col-xs-8 info-ctn">
				{{productInfo.product_id}}
			</span>
		</div>
		
		<div class="col-xs-12 info-item">
			<span class="col-xs-4 info-title">
				商品描述
			</span>
			<span class="col-xs-8 info-ctn">
				<div class="goods-orig" ng-bind-html="productInfo.product_desc|trustHtml"></div>
			</span>
		</div>
		
	</div>
</div>