<link rel="stylesheet" href="css/home/index.css">
<div ui-view ng-show="$state.current.name !== 'home.hotbrand'"></div>
<div class="hotbrand-container col-xs-12" ng-show="$state.current.name == 'home.hotbrand'">
	<div class="row hotbrand-fore">
		<div class="col-xs-1">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true" ui-sref="home"></span>
		</div>
		<div class="col-xs-10">
			<span class="title">热门品牌</span>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2 brand-item" ng-repeat="(key, value) in brandsUrl">
			<img src="img/hotbrand/{{value}}.jpg" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 title-middle">
			<span>今日上新</span>
		</div>
	</div>

	<div class="row item" ng-repeat="(key, value) in itemList">
		<div class="col-xs-12 img-item" ui-sref=".brand">
			<img ng-src="img/hotbrand/{{value}}.jpg" alt="">
		</div>
	</div>

</div>