<link rel="stylesheet" href="css/home/index.css">
<div class="inshop-container col-xs-12">
	<div class="row common-fore">
		<div class="col-xs-1">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true" ng-click="goBack()"></span>
		</div>
		<div class="col-xs-10">
			<input type="text" placeholder="搜索店铺内宝贝">
		</div>
	</div>

	<div class="row inshop-fore">
		<img src="img/inshop/0.jpg" alt="" class="col-xs-12 fore-img">
	</div>
	<div class="row shop-fore">
		<div class="col-xs-3 shop-pic">
			<img ng-src="{{theShop.shop_img}}" alt="">
		</div>
		<div class="col-xs-5 shop-name">
			<span>{{theShop.shop_name}}</span>
			<!-- <span class="fans">58万粉丝</span> -->
		</div>
		<div class="col-xs-3">
			<img src="img/inshop/0.png" alt="" class="favorite">
		</div>
	</div>

	<div class="row inshop-goods">
		<img src="img/inshop/2.jpg" alt="" class="col-xs-12 goods-img">
		<div class="col-xs-3 col-xs-offset-5 price">
			<span>￥ 99</span>
			<img src="img/inshop/1.png" alt="">
		</div>
	</div>

	<div class="row pic-show">
		<div class="col-xs-4 two-little">
			<img src="img/inshop/9.jpg" alt="">
			<img src="img/inshop/10.jpg" alt="">
		</div>
		<div class="col-xs-8 one-large">
			<img src="img/inshop/11.jpg" alt="">
		</div>
	</div>

	<div class="row goods-item-list">
		<div class="col-xs-6" ng-repeat="item in theShop.product" ng-show="theShop.product">
			<div class="item" ui-sref="goods({id:item.product_id})">
				<img ng-src="{{item.product_img}}" alt="" class="pic">
				<div class="desc">{{item.product_brif}}</div>
				<span>{{item.product_price|currency:'￥'}}</span>
			</div>
		</div>

		<h4 ng-hide="theShop.product">sorry，该店铺暂无商品数据...</h4>
	</div>
</div>