<link rel="stylesheet" href="css/home/list.css">
<div ui-view ng-show="$state.current.name !== 'list'"></div>
<div class="content-container col-xs-12 main" ng-show="$state.current.name == 'list'">	
	<div class="col-xs-12 title" ui-sref="type({id:'1'})">
		女装&男装
	</div>
	<div class="row col-xs-12">
		<div class="col-xs-3 list-one" ng-repeat="(key, value) in cloth"  ui-sref=".classType">
			<img ng-src="img/list/{{key+1}}.jpg" alt="">
			<span>{{value.name}}</span>
		</div>
	</div>

	<div class="col-xs-12 title" ui-sref="type({id:'2'})">
		鞋靴&箱包
	</div>
	<div class="row col-xs-12">
		<div class="col-xs-3 list-one"  ng-repeat="(key, value) in shoesAndPack"  ui-sref=".classType">
			<img ng-src="img/list/{{key+14}}.jpg" alt="">
			<span>{{value.name}}</span>
		</div>
	</div>

	<div class="col-xs-12 title" ui-sref="type({id:'3'})">
		运动户外
	</div>
	<div class="row col-xs-12">
		<div class="col-xs-3 list-one"  ng-repeat="(key, value) in sport"  ui-sref=".classType">
			<img ng-src="img/list/{{key+50}}.jpg" alt="">
			<span>{{value.name}}</span>
		</div>
	</div>

	<div class="col-xs-12 title" ui-sref="type({id:'4'})">
		护肤彩妆
	</div>
	<div class="row col-xs-12">
		<div class="col-xs-3 list-one"  ng-repeat="(key, value) in skinCare"  ui-sref=".classType">
			<img ng-src="img/list/{{key+54}}.jpg" alt="">
			<span>{{value.name}}</span>
		</div>
	</div>


	<div class="col-xs-12 title" ui-sref="type({id:'26'})">
		手机数码
	</div>
	<div class="row col-xs-12">
		<div class="col-xs-3 list-one"  ng-repeat="(key, value) in phone"  ui-sref=".classType">
			<img ng-src="img/list/{{key+58}}.jpg" alt="">
			<span>{{value.name}}</span>
		</div>
	</div>

	<div class="col-xs-12 title" ui-sref="type({id:'27'})">
		家用办公
	</div>
	<div class="row col-xs-12">
		<div class="col-xs-3 list-one"  ng-repeat="(key, value) in homeWork"  ui-sref=".classType">
			<img ng-src="img/list/{{key+62}}.jpg" alt="">
			<span>{{value.name}}</span>
		</div>
	</div>

	<div class="col-xs-12 title" ui-sref="type({id:'36'})">
		珠宝配饰
	</div>
	<div class="row col-xs-12">
		<div class="col-xs-3 list-one"  ng-repeat="(key, value) in jades"  ui-sref=".classType">
			<img ng-src="img/list/{{key+66}}.jpg" alt="">
			<span>{{value.name}}</span>
		</div>
	</div>

	<div class="col-xs-12 title" ui-sref="type({id:'37'})">
		汇吃美食
	</div>
	<div class="row col-xs-12">
		<div class="col-xs-3 list-one"  ng-repeat="(key, value) in foods"  ui-sref=".classType">
			<img ng-src="img/list/{{key+70}}.jpg" alt="">
			<span>{{value.name}}</span>
		</div>
	</div>
</div>