<link rel="stylesheet" href="css/home/login.css">
<div class="content-container col-xs-12">
	<div class="row title">
		<div class="col-xs-1" ui-sref="home">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</div>
		<span class="col-xs-10">卖盟账户登陆</span>
	</div>
	<div class="row form-container">
		<form name="loginForm">
			<ul class="list-group">
				<li class="list-group-item"><span class="col-xs-3">账户：</span><input class="col-xs-9" type="text" ng-model="loginInfo.user_name" required></li>
				<li class="list-group-item"><span class="col-xs-3">密码：</span><input class="col-xs-9" type="password" ng-model="loginInfo.user_pwd" required></li>
			</ul>
		</form>
	</div>
	<div class="row">
		<button ng-disabled="loginForm.$invalid" class="btn btn-primary col-xs-10 col-xs-offset-1" ng-click="doLogin()">登陆</button>
	</div>
	<div class="bottom">
		<span ui-sref="register">快速注册</span>
		<span class="pull-right">找回密码</span>
	</div>
</div>