<link rel="stylesheet" href="css/home/personal.css">
<div ui-view ng-show="$state.current.name !== 'personal.marketManage'"></div>
<div class="marketManage-container col-xs-12" ng-show="$state.current.name == 'personal.marketManage'">
	<div class="row common-fore">
		<div class="col-xs-1">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true" ng-click="goPersonal()"></span>
		</div>
		<div class="col-xs-7">
			<span class="title">宝贝管理</span>
		</div>
		<div class="col-xs-2" ui-sref=".publish">
			<button type="button" class="btn btn-info" ng-click="setAddInfo()">发布宝贝</button>
		</div>
	</div>

	<div class="row search-box">
		<div class="btn-group search-group col-xs-12">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="请输入商品关键字" ng-model="searchKeyword">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">搜一搜</button>
				</span>
			</div>
		</div>
	</div>

	<div class="row baby-nav">
		<div class="btn-group col-xs-12" role="group" aria-label="...">
			<button type="button" class="btn btn-default col-xs-4" ng-class="{'active':selectType=='A'}" ng-click="setSelectType('A')">出售中</button>
			<button type="button" class="btn btn-default col-xs-4" ng-class="{'active':selectType=='S'}" ng-click="setSelectType('S')">仓库中</button>
			<button type="button" class="btn btn-default col-xs-4" ng-class="{'active':selectType=='I'}" ng-click="setSelectType('I')">下架了</button>
		</div>
	</div>

	<div class="row baby-list">
		<div class="col-xs-12 baby-item" ng-repeat="item in ProductList|filterProduct:selectType|filter:searchKeyword">
			<img src="{{item.product_img}}" alt="" class="col-xs-4">
			<div class="col-xs-8">
				<span class="span-text">名称：{{item.product_name}}</span>
				<span class="span-text">分类：{{item.types.0.type_name}}</span>
				<span class="span-text">价格：{{item.product_price|currency:'￥'}}</span>
				<span class="glyphicon glyphicon-pencil" ui-sref=".publish({id:item.product_id})" ng-show="item.product_state !== 'I'" title="编辑"></span>&nbsp;&nbsp;&nbsp;
				<span class="glyphicon glyphicon-trash" ng-click="deleteInfo(item.product_id)" title="删除"></span>&nbsp;&nbsp;&nbsp;
				<span class="glyphicon glyphicon-hand-down" ng-click="offline(item)" ng-show="item.product_state == 'A'" title="下架"></span>
				<span class="glyphicon glyphicon-hand-up" ng-click="online(item)" ng-show="item.product_state !== 'A'" title="发布"></span>&nbsp;&nbsp;&nbsp;
				<span class="glyphicon glyphicon-hand-right" ng-click="toStock(item)" ng-show="item.product_state == 'I'" title="入库"></span>

			</div>	
		</div>
	</div>
</div>