<link rel="stylesheet" href="css/home/personal.css">
<div ui-view ng-show="$state.current.name !== 'personal'"></div>
<div class="content-container col-xs-12 main" ng-show="$state.current.name == 'personal'">	
	<div class="row fore">
		<div class="col-xs-12">
			<span>管理我的店铺</span>
		</div>
	</div>

	<div class="row personal-nav">
		<div class="col-xs-3" ui-sref=".orderManage">
			<img ng-src="img/personal/1.png" alt="">
		</div>
		<div class="col-xs-3" ui-sref=".marketManage">
			<img ng-src="img/personal/2.png" alt="">
		</div>
		<div class="col-xs-3" ui-sref=".clientManage">
			<img ng-src="img/personal/3.png" alt="">
		</div>
		<div class="col-xs-3" ui-sref=".incomeManage">
			<img ng-src="img/personal/4.png" alt="">
		</div>
	</div>

	<div class="row content common">
		<div class="col-xs-6 col-xs-offset-3" ui-sref=".shop">
			<img ng-src="{{myShop.shop_img}}" class="shop-img">
			<span class="shop-name">{{myShop.shop_name}}</span>
		</div>
	</div>

	<div class="row common">
		<div class="btn-group search-group col-xs-12 search-box">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="请输入商品关键字" ng-model="searchKeyword" ng-keyup="setSearchKeyword()">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="setSearchKeyword()">搜一搜</button>
				</span>
			</div>
		</div>

		<div class="col-xs-3">
			<a href="" ng-click="predicate = 'product_num'; reverse=!reverse">销量</a>
		</div>
		<div class="col-xs-3">
			<a href="" ng-click="predicate = 'product_left'; reverse=!reverse">库存</a>
		</div>
		<div class="col-xs-3">
			<a href="" ng-click="predicate = 'product_price'; reverse=!reverse">价格</a>
		</div>
		<div class="col-xs-3">
			<a href="" ng-click="predicate = 'product_register_time'; reverse=!reverse">时间</a>
		</div>
	</div>

	<div class="row baby-list">
		<div class="col-xs-12 baby-item" ng-repeat="item in ProductList | orderBy:predicate:reverse |filter:searchKeyword">
			<img src="{{item.product_img}}" alt="" class="col-xs-4">
			<div class="col-xs-8">
				<span class="span-text"><strong>名称</strong> &nbsp;&nbsp; {{item.product_name}}</span>
				<span class="span-text"><strong>描述</strong> &nbsp;&nbsp; {{item.product_desc}}</span>
				<span class="span-text"><strong>价格</strong> &nbsp;&nbsp; {{item.product_price|currency: '￥'}}</span>
				<span class="span-text"><strong>销量</strong> &nbsp;&nbsp; {{item.product_num}}</span>
				<span class="span-text"><strong>库存</strong> &nbsp;&nbsp; {{item.product_left}}</span>
				<span class="span-text"><strong>时间</strong> &nbsp;&nbsp; {{item.product_register_time}}</span>
			</div>	
		</div>
	</div>
</div>