<link rel="stylesheet" href="css/home/register.css">
<div class="content-container col-xs-12">
	<div class="row title">
		<div class="col-xs-1" ui-sref="login">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</div>
		<span class="col-xs-10">卖盟账户注册</span>
	</div>
	<div class="row form-container">
		<form name="infoForm" role="form">
			<ul class="list-group">
				<li class="list-group-item"><span class="col-xs-3">邮箱：</span><input class="col-xs-7" type="email" ng-model="registerInfo.user_email" required><span class="col-xs-2" ng-init="validateTips.email = ' '">{{validateTips.email}}</span></li>
				<li class="list-group-item"><span class="col-xs-3">用户名：</span><input class="col-xs-7" type="text" ng-model="registerInfo.user_name" required><span class="col-xs-2" ng-init="validateTips.username = ' '">{{validateTips.username}}</span></li>
				<li class="list-group-item"><span class="col-xs-3">密码：</span><input class="col-xs-7" type="password" ng-model="registerInfo.user_pwd" required><span class="col-xs-2" ></span></li>
				<li class="list-group-item"><span class="col-xs-3">重复密码：</span><input class="col-xs-7" type="password" ng-model="registerInfo.user_repwd" required><span class="col-xs-2" ng-init="validateTips.repassword = ' '">{{validateTips.repassword}}</span></li>
			</ul>
		</form>
	</div>
	<div class="row">
		<button ng-disabled="infoForm.$invalid" class="btn col-xs-10 col-xs-offset-1 register-btn" vldtip="validateTips" info="registerInfo" do-register>立即注册</button>
	</div>
</div>