<link rel="stylesheet" href="css/home/list.css">
<div class="class-container col-xs-12">
	<div class="row class-type-fore">
		<div class="col-xs-1">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true" ng-click="goBack()"></span>
		</div>
		<div class="col-xs-10">
			<span class="title">{{listOfType.type_name}}</span>
		</div>
	</div>

	<div class="row nav">
		<div class="{{classOftype}} nav-type" ng-repeat="item in typeList">
			<span>{{item.type_name}}</span>
		</div>
	</div>

	<div class="row item-list">
		<div class="col-xs-6">
			<div class="foreText">
				<span>精选品质</span>
				<span class="second">值得拥有</span>
			</div>
			<div class="item" ui-sref="goods({id:prod_left.product_id})" ng-repeat="prod_left in firstHalf">
				<div class="pic-container">
					<img ng-src="{{prod_left.product_img}}" alt="{{prod_left.product_name}}" title="{{prod_left.product_name}}" class="pic">
				</div>
				<div class="desc">{{prod_left.product_brif}}</div>
				<span class="price">{{prod_left.product_price|currency:'￥'}}</span>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="item" ui-sref="goods({id:prod_right.product_id})" ng-repeat="prod_right in secondHalf">
				<div class="pic-container">
					<img ng-src="{{prod_right.product_img}}" alt="{{prod_right.product_name}}" title="{{prod_right.product_name}}" class="pic">
				</div>
				<div class="desc">{{prod_right.product_brif}}</div>
				<span class="price">{{prod_right.product_price|currency:'￥'}}</span>
			</div>
		</div>
		
	</div>
</div>